bg-linear-gr(first, second)
  background linear-gradient(to top left, first, second)
  background-repeat no-repeat

default-font-family()
  font-family 'Lineto brown pro',sans-serif

  /*font-family sans-serif, Helvetica, "Helvetica Neue", Verdana, Arial*/