doctype html
html(lang="en")
    head
        title Landing
        link(href="css/css.less", rel="stylesheet")
    body
        .page-wrapper
            .page
                .about
                    h1 Anna Novikova
                    h2 Software Developer
                    .personal-photo
                .info
                    .experience
                        h3 Experience
                        .company
                            span.company-name Company A
                            span.position Developer
                            p since January 2016
                            p Programming and watching cute cat videos.
                        .company
                            span.company-name Company B
                            span.position Frontend Developer
                            p January 2015 - December 2015
                            p Fulfillment of extremely important tasks.
                        .company
                            span.company-name Company C
                            span.position Frontend Developer
                            p January 2015 - December 2015
                            p Fulfillment of extremely important tasks.
                        h3 Contact
                        .contact-info
                            a(href="mailto:anna@novikova.us") anna@novikova.us
                            i.fa.fa-envelope
                        .contact-info
                            a(href="https://novikova.us") novikova.us
                            i.fa.fa-globe
                        .contact-info
                            a(href="https://github.com/anechka") https://github.com/anechka
                            i.fa.fa-github
                    .education
                        h3 Education
                        .degree
                            span.degree-description Master of Arts
                            p Major in Hacking and Computer Penetration, University A, New York, USA.
                        .degree
                            span.degree-description Bachelor of Science
                            p Major in Engineering, University B, Los Angeles, USA.

                        h3 Skills
                        .skills-info
                            span.skill HTML5
                            .skill-bar
                                .level.level-html
                        .skills-info
                            span.skill CSS3
                            .skill-bar
                                .level.level-css
                        .skills-info
                            span.skill JavaScript
                            .skill-bar
                                .level.level-js
                        .skills-info
                            span Docker
                            .skill-bar
                                .level.level-docker
        script(src="js/index.js")