doctype html
html(lang="en")
    head
        title Landing
        link(href="css/css.less", rel="stylesheet")
    body
        .page-wrapper
            .page
                .about
                    h1 Anna Novikova
                    h2 Software Developer
                    .personal-photo
                .info
                    .experience
                        h3 Experience
                        .company
                            h4 Company A
                            span Developer
                            p since January 2016
                            p Programming and watching cute cat videos.
                        .company
                            h4 Company B
                            span Frontend Developer
                            p January 2015 - December 2015
                            p Fulfillment of extremely important tasks.
                        .company
                            h4 Company C
                            span Frontend Developer
                            p January 2015 - December 2015
                            p Fulfillment of extremely important tasks.
                    .education
                        h3 Education
                        h4 Master of Arts
                        p Major in Hacking and Computer Penetration, University A, New York, USA.
                        h4 Bachelor of Science
                        p Major in Engineering, University B, Los Angeles, USA.
                        h3 Skills
        script(src="js/index.js")