doctype html
html(lang="en")
    head
        title Landing
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(href="css/css.styl", rel="stylesheet")
    body
        header
            nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light.header-nav
                a.navbar-brand(href='#')
                    img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819856890e790_asset%2039.svg", style="width: 105px")
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarCollapse.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.dropdown
                            a#navbarDropdown1.nav-link.dropdown-toggle.header-nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                | Product
                            .dropdown-menu.header-dropdown(aria-labelledby='navbarDropdown1')
                                .content-dropdown-menu.d-flex
                                    .left-col-content
                                        a.dropdown-item.header-nav-link(href='#') Stability Management
                                        a.dropdown-item.header-nav-link(href='#') Stability Score
                                        a.dropdown-item.header-nav-link(href='#') Search and Segment
                                        a.dropdown-item.header-nav-link(href='#') On-Premise
                                    .right-col-content
                                        a.dropdown-item.header-nav-link(href='#') Platforms
                                        a.dropdown-item.header-nav-link(href='#') Integrations
                                        a.dropdown-item.header-nav-link(href='#') Security
                                        a.dropdown-item.header-nav-link(href='#') Why Bugsnag?

                        li.nav-item.dropdown
                            a#navbarDropdown2.nav-link.dropdown-toggle.header-nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                | Solutions
                            .dropdown-menu(aria-labelledby='navbarDropdown2')
                                .content-dropdown-menu.d-flex
                                    .left-col-content
                                        span.dropdown-item.dropdown-item-title By role:
                                        a.dropdown-item.header-nav-link(href='#') Software Engineer
                                        a.dropdown-item.header-nav-link(href='#') Engineering Manager
                                        a.dropdown-item.header-nav-link(href='#') Release Manager
                                    .right-col-content
                                        span.dropdown-item.dropdown-item-title By application:
                                        a.dropdown-item.header-nav-link(href='#') Web
                                        a.dropdown-item.header-nav-link(href='#') Mobile

                        li.nav-item.dropdown
                            a#navbarDropdown3.nav-link.dropdown-toggle.header-nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                | Customers
                            .dropdown-menu(aria-labelledby='navbarDropdown3')
                                .content-dropdown-menu.d-flex
                                    .left-col-content
                                        a.dropdown-item.header-nav-link(href='#') Customers
                                        a.dropdown-item.header-nav-link(href='#') Customer Stories

                        li.nav-item
                            a.nav-link.header-nav-link.link-without-dropdown(href='#') Pricing
                        li.nav-item.dropdown
                            a#navbarDropdown4.nav-link.dropdown-toggle.header-nav-link(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                | Resources
                            .dropdown-menu(aria-labelledby='navbarDropdown4')
                                .content-dropdown-menu.d-flex
                                    .left-col-content
                                        a.dropdown-item.header-nav-link(href='#') Resource Library
                                        a.dropdown-item.header-nav-link(href='#') Blog

                        li.nav-item
                            a.nav-link.header-nav-link.link-without-dropdown(href='#') Docs
                        li.nav-item
                            a.nav-link.header-nav-link.link-without-dropdown(href='#') Sign in


                    a.nav-link.btn-medium(href='#' tabindex='-1' aria-disabled='true') Get started


            .hero
                .container
                    h1.text-center.hero-title Stability monitoring for all your apps
                    p.text-center.hero-subtitle 3 minute installation · Try all features for 14 days · No credit card required

            .cards-container
                .container-fluid(style="padding-left: 30px; padding-right: 30px")
                    .row
                        .col-12
                            .cards-menu-tabs
                                a(href="#") Monthly
                                a.link-decorated(href="#") Annually
                    .row.no-gutters
                        .col-md-12.col-lg-4
                            .card.text-center.default-card
                                .card-body.card-content
                                    h5.card-title.default-card-title Lite
                                    span.pricing-text-small Starting at
                                    div.card-price
                                        span.dollar $
                                        span.price 0
                                    span.pricing-text-small per month
                                    p.card-text.default-card-text Basic error detection
                                        br
                                        |and alerting
                                    a.btn-medium.card-btn.btn-dark-blue(href='#') Free trial
                                    div.card-link-container
                                        a(href="") Calculate your price
                                    .divider

                                    ul.card-list
                                        li
                                            strong Features
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Monitor all of your backend, mobile, or browser applications in one place.") Unlimited monitored apps
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Prioritize the worst errors with powerful search and sorting.") Error Detection inbox and search
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Reproduce and fix errors quickly with automatically captured diagnostic data.") Automatic Error diagnostics
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="See all user interactions which happened leading up to a crash.") User interaction breadcrumbs
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Two-way issue tracking synchronization with every major issue tracking and project management tool.") Jira issue synchronization
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Get alerted to new errors and spikes in error rates right in the tools your team already uses.") Email, Slack, and PagerDuty alerting
                        .col-md-12.col-lg-4
                            .card.text-center.default-card.card-standard
                                .card-body.card-content
                                    h5.card-title.default-card-title Standard
                                    span.pricing-text-small Starting at
                                    div.card-price
                                        span.dollar $
                                        span.price 59
                                    span.pricing-text-small per month
                                    p.card-text.default-card-text Stability monitoring
                                        br
                                        |for application health
                                    a.btn-medium.card-btn(href='#') Free trial
                                    div.card-link-container
                                        a(href="") Calculate your price
                                    .divider
                                    ul.card-list
                                        li
                                            strong Lite features plus
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Real-time stability score helps determine whether to build features or fix bugs.") Real-time application stability score
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title='"Spot bad releases, track release health over time, and see errors introduced in each release."') Release stability dashboard
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Tag your A/B your tests and experiments, amd segment them in Bugsnag to determine when stable enough to promote.") A/B test & experiment stability metrics
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Attach customer meta-data such as revenue, SLA, and subscription tier, and monitor their app experience with Bugsnag.") Key account experience segmentation
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Segment and pivot errors based on any other attributes available at runtime.") Custom data segments & pivots
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="One-click sign-in and automatic provisioning for Okta, OneLogin, and more.") Okta, OneLogin & SAML SSO
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Data forwarding integration with Splunk Cloud and on-prem and Amazon SQS.") Splunk and Amazon SQS support

                        .col-md-12.col-lg-4
                            .card.text-center.default-card
                                .card-body.card-content
                                    h5.card-title.default-card-title Enterprise
                                    span.pricing-text-small Starting at
                                    div.card-price
                                        span.price.contact-us Contact Us
                                    span.pricing-text-small per month
                                    p.card-text.default-card-text Custom plans for higher volumes
                                        br
                                        |and larger teams
                                    a.btn-medium.card-btn.btn-dark-blue(href='#') Free trial
                                    div.card-link-container
                                        a.hide(href="") Calculate your price
                                    .divider
                                    ul.card-list
                                        li
                                            strong Standard features plus
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Fast and unlimited support from our team of talented support engineers.") Priority support
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="We'll make sure you get up and running and stay current with best practices.") Onboarding and training
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="On-premise version of Bugsnag with regular updates and feature improvements and optional scalable HA clustering.") On-premise optional with scaling via HA clustering
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Stay compliant with your required certifications.") HIPAA/PCI/PHI compliance
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Need more than 60 days of event data? We've got you covered.") Custom data retention
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Custom plans which help protect against unexpected or seasonal spikes in errors.") Burst protection & event scaling
                                        li
                                            img.card-list-icon-check(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                                            span(data-toggle="tooltip" data-placement="right" title="Establish a master service agreement between Bugsnag and your organization.") Custom license terms (MSA, SLA)

        section.section-company-logos
            .container
                .row.d-flex.flex-column.align-items-center
                    img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819ee6590e795_gold_accent_centered-f5f2049b.svg", style="width: 70px")
                    h2.section-subtitle.text-center Trusted by over 5,000 of the world's best
                        br
                        |engineering teams

                .row.logo-company-container
                    .logo-company
                        img.img-fluid(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08196a3490e82f_airbnb-logo.png")
                    .logo-company
                        img.img-fluid(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d2290e826_mailchimp-logo.png")
                    .logo-company
                        img.img-fluid(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197a2d90e82e_oracle-logo.png")
                    .logo-company
                        img.img-fluid(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819a3bc90e830_square-logo.png")
                    .logo-company
                        img.img-fluid(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd081946bd90e824_lyft-logo.png")
                    .logo-company
                        img.img-fluid(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819c1f290e827_pagerduty-logo.png")
                .row
                    .col.d-flex.justify-content-center
                        a.btn-medium.btn-dark-blue(href='#') See how our customers use bugsnag

        section.pricing-plans-section
            .container

                h2.section-subtitle Pricing plans

                .grid-table
                    div.invisible
                    div.align-items-end.justify-content-center
                        span.plan-name Lite
                    div.align-items-end.justify-content-center
                        span.plan-name Standard
                    div.align-items-end.justify-content-center
                        span.plan-name Enterprise
                    div.sticky-block
                        img.pricing-icon(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819e5b490e7d7_code-cc32753f.svg")
                        span.pricing-title Error monitoring & diagnostic tools
                    div
                        a.btn-small(href='#') Free trial
                    div
                        a.btn-small(href='#') Free trial
                    div
                        a.btn-small(href='#') Free trial
                    div
                        a(href="#") Automatic error capture for web, mobile, desktop, and server apps
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Sourcemaps, dSYMs, and ProGuard support
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Unlimited monitored apps
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Support for over 50 platforms and frameworks
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Advanced error search and filtering
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Interactive timeline analysis
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Custom diagnostic data
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Breadcrumbs
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Release annotations
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Custom filters and pivot tables
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Releases dashboard
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")

                    // Alerts and workflow integrations
                    div.padding-top-30
                        img.pricing-icon(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819582590e906_alerts-0dc92df3.svg")
                        span.pricing-title Alerts and workflow integrations
                    div.invisible
                    div.invisible
                    div.invisible
                    div
                        a(href="#") Team chat alerts (Slack and many more)
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Two-way issue tracker sync (JIRA, Pivotal, and more)
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Automatic spike detection
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") On-call alerts (PagerDuty, OpsGenie, and more)
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Regression alerts
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Daily and weekly reports
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")

                    // Administration, security, and data access
                    div.padding-top-30
                        img.pricing-icon(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819418f90e907_admin-70c0fe30.svg")
                        span.pricing-title Administration, security, and data access
                    div.invisible
                    div.invisible
                    div.invisible
                    div
                        a(href="#") Two-factor authentication
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") User roles and permissions
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Splunk and Amazon SQS support
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") SAML single sign-on
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Available on-premise with optional HA clustering
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Data history
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Data export API
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    // Support and services
                    div.padding-top-30
                        img.pricing-icon(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197eff90e7d9_support-edc7008a.svg")
                        span.pricing-title Support and services
                    div.invisible
                    div.invisible
                    div.invisible
                    div
                        a(href="#") Unlimited email support
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Priority support
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Customer success manager (CSM)
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Guided onboarding and implementation
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div
                        a(href="#") Ongoing training
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")
                    div.checkbox-img
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197d6f90e8a6_Tick.svg")

                .row.padding-top-30.padding-bottom-60
                    .col
                        .divider

                .row.padding-bottom-60
                    .col
                        span *The free tier of the Lite plan includes 7 days of data retention
        section.faqsection
            .container
                h2.section-subtitle Frequently asked questions
                .row.pt-3.pb-3.justify-content-center
                    .col-10.d-flex.justify-content-between.pl-0.pr-0(data-toggle="collapse" href="#collapseBlock1" aria-expanded="false" aria-controls="collapseBlock1")
                        a(href="#") What is a seat?
                        img.arrow-icon(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819049a90e860_collapsed-930b7042.svg")
                .row.pt-3.pb-3.justify-content-center
                    .col-10.pl-0.pr-0
                        #collapseBlock1.collapse
                            .card.card-body
                                | A seat is shorthand for a collaborator — anyone who logs in to Bugsnag.

                .row.pt-3.pb-3.justify-content-center
                    .col-10.d-flex.justify-content-between.pl-0.pr-0(data-toggle="collapse" href="#collapseBlock2" aria-expanded="false" aria-controls="collapseBlock2")
                        a(href="#") How does the 14-day free trial work?
                        img.arrow-icon(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819049a90e860_collapsed-930b7042.svg")
                .row.pt-3.pb-3.justify-content-center
                    .col-10.pl-0.pr-0
                        #collapseBlock2.collapse
                            .card.card-body
                                | Unrestricted access to all standard features free for 14 days. At the end of your trial, select a plan to continue using Bugsnag.
                .row.pt-3.pb-3
                    .col.d-flex.justify-content-between(data-toggle="collapse" href="#collapseBlock3" aria-expanded="false" aria-controls="collapseBlock3")
                        a(href="#") What happens if I upgrade during my free trial?
                        img.arrow-icon(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819049a90e860_collapsed-930b7042.svg")
                .row.pt-3.pb-3
                    .col
                        #collapseBlock3.collapse
                            .card.card-body
                                | You can select a plan at any time during your 14-day free trial. We won't charge you until the end of your trial.
                .row.pt-3.pb-3
                    .col.d-flex.justify-content-between(data-toggle="collapse" href="#collapseBlock4" aria-expanded="false" aria-controls="collapseBlock4")
                        a(href="#") What happens if I go over my event quota?
                        img.arrow-icon(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819049a90e860_collapsed-930b7042.svg")
                .row.pt-3.pb-3
                    .col
                        #collapseBlock4.collapse
                            .card.card-body
                                | We break your monthly event count into daily increments.
                                | When you exceed your daily quota, we'll continue to save every event you send us at no additional cost.
                                | If you exceed your daily event quota more than 3 times in any 30-day rolling period, we'll automatically upgrade you to the next plan to ensure coverage.
                                | If you disable automatic upgrades, we'll sample your events to stay within your quota.
                .row.pt-3.pb-3
                    .col.d-flex.justify-content-between(data-toggle="collapse" href="#collapseBlock5" aria-expanded="false" aria-controls="collapseBlock5")
                        a(href="#") What forms of payment do you accept?
                        img.arrow-icon(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819049a90e860_collapsed-930b7042.svg")
                .row.pt-3.pb-3
                    .col
                        #collapseBlock5.collapse
                            .card.card-body
                                | We accept all major credit and debit cards: Visa, Mastercard, American Express, JCB, Discover and Diners Club. Payments are powered by Stripe.
        section.get-started-section(style="padding: 100px 0; border: 1px solid red")
            .container
                .row
                    .col-6(style="border-right: 1px solid grey")
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819651c90e79a_Divider%20Shapes.svg")
                        h2 Get started for free.
                        p Try all features for 14 days · No credit card required.
                        a.btn.btn-primary.btn-lg(href="") Get started
                    .col-6(style="padding-left: 60px")
                        img(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819651c90e79a_Divider%20Shapes.svg")
                        h2 Get started for free.
                        p Try all features for 14 days · No credit card required.
                        a.btn.btn-primary.btn-lg(href="") Get started
        footer.footer
            .container-fluid(style="padding-left: 0; padding-right: 0")
                .row.no-gutters
                    .col
                        .divider
                .row.no-gutters
                    .col-2.d-flex.flex-column
                        a(href="#")
                            img.footer-logo(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c7fab2b4e3feefc6bd8f0ce_5c7e8ad810414d05694fe4d8_asset%203.svg")
                    .col-2.d-flex.flex-column
                        h5(href="#") Product
                        a(href="#") Stability Management
                        a(href="#") Integrations
                        a(href="#") On-Premise
                        a(href="#") Pricing
                        a(href="#") Open Source
                        a(href="") Mobile Solution
                        a(href="") Web Solution
                    .col-2.d-flex.flex-column
                        h5 Resources
                        a(href="#") Resource Library
                        a(href="#") Blog
                        a(href="#") Docs
                        a(href="#") Status
                        a(href="#") Contact
                    .col-2.d-flex.flex-column
                        h5 Company
                        a(href="#") About
                        a(href="#") Customers
                        a(href="#") Customer Stories
                        a(href="#") Jobs
                        a(href="#") Security
                    .col-2.d-flex.flex-column
                        h5 Platforms
                        a(href="#") JavaScript
                        a(href="#") React
                        a(href="#") React Native
                        a(href="#") iOS
                        a(href="#") Android + SDK
                        a(href="#") Rails
                        a(href="#") Laravel
                        a(href="#") PHP
                        a(href="#") Python
                        a(href="#") More...
                    .col-2.d-flex
                        a.footer-social-icon(href="#")
                            img.img-fluid(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd08197cbe90e7a7_twitter-logo-silhouette.svg")
                        a.footer-social-icon(href="#")
                            img.img-fluid(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819028c90e7a9_dribbble-logo.svg")
                        a.footer-social-icon(href="#")
                            img.img-fluid(src="https://global-uploads.webflow.com/5c741219fd0819540590e785/5c741219fd0819f3ed90e7a8_github-logo.svg")
                .row.no-gutters
                    .col
                        span © 2019 Bugsnag Inc.
                        div
                            a(href="") Terms of Service
                            span.dot-terms
                            a(href="") Privacy Policy



        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(src="js/index.js")

        script.
            $(function() {
                $('[data-toggle="tooltip"]').tooltip()
            });